.navbar-custom{
    background-color: #6857f2;
}

.nav-item .active
{
  border:1px solid white;
  border-radius: 13px;
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}



.drop-down-right{
    text-align: right;
    padding-right: 10px;
}


  