
<div class="search-center">
    <h1>STOCK SEARCH</h1>       
    <div class="d-flex flex-row search-input">        
        <input type="text" 
               class="form-control"
               placeholder="Enter stock name"
               [formControl]="control"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"> 
            <mat-option *ngIf="loading; else done">
                <mat-spinner [diameter]="30" class="mat-spinner-color"></mat-spinner>
            </mat-option>
            <ng-template #done>
                <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.ticker">   
                    <span class="ticker">{{suggestion.ticker}}</span> |
                    <small>{{suggestion.name}}</small>                                 
                </mat-option> 
            </ng-template>                                     
        </mat-autocomplete>
        
        <button type="button" class="btn" (click)="onSubmit()">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-search" fill="#6857f2" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
        </button>
           
    </div>
    
</div>